@using Type = ProjectBakery.Domain.Type
@model ProjectBakery.Domain.Pastrie

@{
    ViewData["Title"] = "Add Pastry";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Pastry" asp-action="Add" method="post">
    <div class="form-group row">
        <label class="col-sm-3 font-weight-bold" asp-for="Name">Name</label><input class="form-control col-sm-9" asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 font-weight-bold" asp-for="Type">Type</label>
        <div class="col-sm-9 p-0">
            <select asp-for="Type" asp-items="@Html.GetEnumSelectList<Type>()" class="form-control"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 font-weight-bold" asp-for="Price">Price in €</label><input asp-for="Price" class="form-control col-sm-9"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
<!-- 
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold" asp-for="Quantity">Quantity</label><input asp-for="Quantity" class="form-control col-sm-9"/>
    <span asp-validation-for="Quantity" class="text-danger"></span>
</div>
-->
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="submit" value="Submit" class="font-weight-bold btn-primary btn"/>
</form>



